:root {
  --red: #ee6064;
}

*, *:before, *:after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%; /* 1rem = 10px */
}

body {
  background-color: #041a18;
  color: black;
  font-family: 'Montserrat', sans-serif;
  font-size: 1.6rem;
}

/* Zoom */
.zoom {
  transition: transform.2s;
}

.zoom:hover {
  transform: scale(1.1); /* 1 = 100% */
}
/* Zoom-End */

main {
  display: flex;
  align-items: center;
}

@media screen and (min-width:768px) {
  main {
    height: 100vh;
  }
}

.profile-img {
  border-radius: 50%;
  width: 15%;
}

.profile-title {
  font-size: 4rem;
  text-transform: uppercase;
  font-weight: 700;
  font-style: italic;
}

@media screen and (max-width:767px) {
  .profile-img {
    width: 20%;
  }

  .profile-title {
    font-size: 3rem;
  }
}

.wrapper {
  background-color: #efefef;  
  border-radius: 20px;
  padding: 20px;
  box-shadow: 10px 10px 30px #a4aeadb5;
  border: 1px solid #e3e3e3;
}

/* CARDS */
.card {
  background-color: #3a4342;
  border-radius: 5px;
}

.card-title {
  font-size: 2.3rem;
  font-weight: 700;
  font-style: italic;
}

button {
  background-color: var(--red);
  color: white;
  font-weight: 500;
  font-style: italic;
  border: none;
  border-radius: 5px;
  margin: 5px 0;
  padding: 5px 50px;
}
/* CARDS-END */
